*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.main-header-area{
    min-height: 90px;
}
.column{
   width: 1170px;
   margin: auto;
}
.logo{
   float: left;
   margin-top: 18px;
}
.logo img {
    width: 150px;
}
.menu {
    float: right;
}
.menu ul{
    list-style: none;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: #484c55;
    font-size: 15px;
    text-decoration: none;
    padding: 45px 20px;
    display: block;
    transition: .3s;
    position: relative;
}
.menu ul li a:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background: #49cbcd;
    opacity: 0;
    transition: .3s;
}
.menu ul li a:hover {
   background: #f8f9fb;
   color: #49cbcd;
}
.menu ul li a:hover:before {
   opacity: 1;
   width: 100%;
}